/* Add your custom styles here */
#applications td {
    font-size: 10px; /* Уменьшение размера шрифта для ячеек таблицы */
}

.container {
    max-width: 100%; /* Изменено на 100% для правильного отображения */

    margin: 0 auto; /* Центрирование контейнера */
    overflow: hidden; /* Предотвращение выхода содержимого за пределы блока */
}

#applications table {
    width: 100%; /* Устанавливаем ширину таблицы на 100% */
    max-width: 100%; /* Устанавливаем максимальную ширину таблицы */

    table-layout: auto; /* Автоматическое распределение ширины столбцов */
    overflow-x: auto; /* Добавляем горизонтальную прокрутку, если необходимо */
    max-width: 100%; /* Устанавливаем максимальную ширину таблицы */
}

#applications th, td {
    overflow: hidden; /* Убираем переполнение в ячейках */
    text-overflow: ellipsis; /* Добавляем многоточие для переполненных ячеек */
    white-space: nowrap; /* Запрещаем перенос строк в ячейках */
    resize: horizontal; /* Позволяем растягивать ячейки по горизонтали */
    min-width: 50px; /* Минимальная ширина ячейки */
}

img {
    max-width: 100%; /* Адаптивная ширина изображений */
    height: auto; /* Автоматическая высота изображений */
}
